{{- $date := .Date.Format "January 2, 2006" -}}
{{- if .Site.Params.article.dateFormat }}
{{- $date = .Date.Format .Site.Params.article.dateFormat }}
{{- end }}
<span title="{{ .Date }}">{{ $date }}</span>
&nbsp;·&nbsp;{{ .ReadingTime }}&nbsp;min
{{- if .Author }}&nbsp;·&nbsp;{{ .Author }}{{- end }}
<!-- 添加访问统计 -->
&nbsp;·&nbsp;
{{ partial "pageview-counter.html" . }}

<!-- 添加 GA4 页面访问量获取脚本 -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    // 发送页面浏览事件
    if (typeof gtag === 'function') {
        gtag('event', 'page_view', {
            page_title: '{{ .Title }}',
            page_location: window.location.href,
            page_path: '{{ .RelPermalink }}'
        });
    }
});
</script> 